extends layout
block content
  #page-wrapper
    .container-fluid
      // Page Heading
      .row
        .col-lg-12
          h1.page-header
            | Dashboard 
          ol.breadcrumb
            li.active
              i.fa.fa-dashboard
              |  Dashboard
      // /.row
      .row
        .col-lg-3.col-md-6
          .panel.panel-primary
            .panel-heading
              .row
                .col-xs-3
                  i.fa.fa-comments.fa-5x
                .col-xs-9.text-right
                  .huge 26
                  div New Comments!
            a(href='#')
              .panel-footer
                span.pull-left View Details
                span.pull-right
                  i.fa.fa-arrow-circle-right
                .clearfix
        .col-lg-3.col-md-6
          .panel.panel-green
            .panel-heading
              .row
                .col-xs-3
                  i.fa.fa-tasks.fa-5x
                .col-xs-9.text-right
                  .huge 12
                  div New Tasks!
            a(href='#')
              .panel-footer
                span.pull-left View Details
                span.pull-right
                  i.fa.fa-arrow-circle-right
                .clearfix
        .col-lg-3.col-md-6
          .panel.panel-yellow
            .panel-heading
              .row
                .col-xs-3
                  i.fa.fa-shopping-cart.fa-5x
                .col-xs-9.text-right
                  .huge 124
                  div New Orders!
            a(href='#')
              .panel-footer
                span.pull-left View Details
                span.pull-right
                  i.fa.fa-arrow-circle-right
                .clearfix
        .col-lg-3.col-md-6
          .panel.panel-red
            .panel-heading
              .row
                .col-xs-3
                  i.fa.fa-support.fa-5x
                .col-xs-9.text-right
                  .huge 13
                  div Support Tickets!
            a(href='#')
              .panel-footer
                span.pull-left View Details
                span.pull-right
                  i.fa.fa-arrow-circle-right
                .clearfix
