extends layout

block content
  div.container
    div.row
      div.col-sm-6.col-md-3.col-md-offset-4
        h1.text-center.login-title Sign in to our Passport app
        a(href='auth/facebook', class='btn btn-block btn-social btn-facebook') Login with Facebook
          i(class='fa fa-facebook')
        br
        p.text_center ou entre com email :
        form#login-local(action='/auth/login',method='post')
          -if(error)
            .callout.callout-danger
              p <strong> Erro ! </strong> #{error}
          input.form-control(type='text', placeholder='Email', name='email')
          input.form-control(type='text', placeholder='senha', name='password')
          .box-footer
            input.btn.btn-success.pull-right(type='submit', value='Enviar')
